{% extends "CrossknowledgeOrderManagementBundle:Tarif:layoutTarif.html.twig" %}

{% block body %}
    <h2>{{ "tarif.list" | trans }}</h2>

    <table class="table table-striped tablesorter" id="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ "tarif.fournisseur" | trans }}</th>
                <th>{{ "tarif.article" | trans }}</th>
                <th>{{ "tarif.prix" | trans }}</th>
                <th>{{ "tarif.ancienprix" | trans }}</th>
                <th>{{ "tarif.tva" | trans }}</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tarif_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.fournisseur.raisonSociale }}</td>
                <td>{{ entity.article.typeArticle }}</td>
                <td>{{ entity.prix }} {{ entity.fournisseur.devise }}</td>
                <td>{{ entity.ancienPrix }} {{ entity.fournisseur.devise }}</td>
                <td>{{ entity.tva }} %</td>
                <td>
                    <a href="{{ path('tarif_show', { 'id': entity.id }) }}">{{ "commun.see" | trans }}</a>
                </td>
                <td>
                    <a href="{{ path('tarif_edit', { 'id': entity.id }) }}"><img style="border: none;" src="{{ asset('bundles/crossknowledgeordermanagement/images/edit-icon.png') }}"/></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table class="table">
        <tr>
            <td>
                <a href="{{ path('tarif_new') }}" class="btn btn-primary">
                    {{ "tarif.add" | trans }}
                </a>
            </td>
        </tr>
    </table>
{% endblock %}