{% extends "CrossknowledgeOrderManagementBundle:Fournisseur:layoutFournisseur.html.twig" %}

{% block body %}
    <h2>{{"fournisseur.modify" | trans }}</h2>

    <form action="{{ path('fournisseur_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {#{ form_widget(edit_form) }#}
            {{ form_errors(edit_form) }}
        <table>
            <tbody>
                <tr>
                    <td>{{ form_label(edit_form.codeFournisseur) }}</td>
                    <td>{{form_widget(edit_form.codeFournisseur)}}</td>
                </tr>
                <tr>
                    <td>{{ form_label(edit_form.raisonSociale) }}</td>
                    <td>{{form_widget(edit_form.raisonSociale)}}</td>
                </tr>
                <tr>
                    <td>{{ form_label(edit_form.contact) }}</td>
                    <td>{{form_widget(edit_form.contact)}}</td>
                </tr>
                <tr>
                    <td>{{ form_label(edit_form.telephone) }}</td>
                    <td>{{form_widget(edit_form.telephone)}}</td>
                </tr>
                <tr>
                    <td>{{ form_label(edit_form.mail) }}</td>
                    <td>{{form_widget(edit_form.mail)}}</td>
                </tr>
                <tr>
                    <td>{{ form_label(edit_form.adresseFacturation) }}</td>
                    <td>{{form_widget(edit_form.adresseFacturation)}}</td>
                </tr>
                <tr>
                    <td>{{ form_label(edit_form.devise) }}</td>
                    <td>{{form_widget(edit_form.devise)}}</td>
                </tr>
                <tr>
                    <td>{{ form_label(edit_form.caCommande) }}</td>
                    <td>{{form_widget(edit_form.caCommande)}}</td>
                </tr>
                <tr>
                    <td>{{ form_label(edit_form.caLettre) }}</td>
                    <td>{{form_widget(edit_form.caLettre)}}</td>
                </tr>
                <tr>
                    <td>{{ form_label(edit_form.typeFournisseur) }}</td>
                    <td>{{form_widget(edit_form.typeFournisseur)}}</td>
                </tr>
                {{ form_rest(edit_form) }}
                <tr>
                    <td style="text-align:center;" colspan="2">
                            <button type="submit" class="btn primary">{{ "commun.save" | trans }}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

    <table class="record_actions">
        <tr>
            <td>
                <a href="{{ path('fournisseur') }}" class="btn info">
                    {{ "commun.backtolist" | trans }}
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <form action="{{ path('fournisseur_delete', { 'id': entity.id }) }}" method="post">
                    {{ form_widget(delete_form) }}
                        <button type="submit" class="btn danger">{{ "commun.delete" | trans }}</button>
                </form>
            </td>
        </tr>
    </table>
{% endblock %}