{% extends "CrossknowledgeOrderManagementBundle:Commande:layoutCommande.html.twig" %}

{% block body %}
    <h2>{{ "commande.modifycommande" | trans}}</h2>

    <form action="{{ path('commande_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <table>
            <tbody>
                {{ form_errors(edit_form) }}
                <tr>
                    <td>{{ form_label(edit_form.typeCommande) }}</td>
                    <td>{{ form_widget(edit_form.typeCommande) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(edit_form.fournisseur) }}</td>
                    <td>{{ form_widget(edit_form.fournisseur) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(edit_form.designation) }}</td>
                    <td>{{ form_widget(edit_form.designation) }}</td>
                </tr>
                {{ form_rest(edit_form) }}
                <tr>
                    <td style="text-align:center;" colspan="2"><button type="submit" class="btn primary">{{ "commun.save" | trans}}</button></td>
                </tr>
            </tbody>
        </table>
    </form>

    <table class="">
        <tr>
            <td style="width: 120px;">
                <a href="{{ path('commande') }}" class="btn info">
                    {{ "commun.backtolist" | trans}}
                </a>
            </td>
            <td>
                <form action="{{ path('commande_delete', { 'id': entity.id }) }}" method="post">
                    {{ form_widget(delete_form) }}
                        <button type="submit" class="btn danger">{{ "commun.delete" | trans}}</button>
                </form>
            </td>
        </tr>
    </table>
{% endblock %}