{% extends "CrossknowledgeOrderManagementBundle:Commande:layoutCommande.html.twig" %}

{% block body %}
    <h2>Commande</h2>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ "commande.type" | trans }}</th>
                <td>{{ entity.typeCommande }}</td>
            </tr>
            <tr>
                <th>{{ "commande.fournisseur" | trans }}</th>
                <td>{{ entity.fournisseur.raisonSociale }}</td>
            </tr>
             <tr>
                <th>{{ "commande.designation" | trans }}</th>
                <td>{{ entity.designation }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <tr>
            <td colspan="3">
                <a href="{{ path('detailcommande_new', { 'id_commande' : entity.id }) }}" class="btn btn-info">
                    {{ "detailcommande.add" | trans }} : {{ entity.id }}
                </a>
            </td>
        </tr>
        <tr>
            <td style="width: 120px;">
                <a href="{{ path('commande') }}" class="btn btn-info">
                    {{ "commun.backtolist" | trans }}
                </a>
            </td>
            <td style="width: 70px;">
                <a href="{{ path('commande_edit', { 'id': entity.id }) }}" class="btn btn-info">
                    {{ "commun.edit" | trans }}
                </a>
            </td>
        {% if is_granted('ROLE_ADMIN') %}
            <td>
                <form action="{{ path('commande_delete', { 'id': entity.id }) }}" method="post">
                    {{ form_widget(delete_form) }}
                        <button type="submit" class="btn btn-danger">{{ "commun.delete" | trans }}</button>
                </form>
            </td>
        {% else %}
            <td>
                <a class="btn btn-danger opener1">{{ "commun.delete" | trans }}</a>
            </td>
        {% endif %}
        </tr>
    </table>
{% endblock %}