{# empty Twig template #}{% extends "CrossknowledgeOrderManagementBundle:DetailCommande:layoutDetailCommande.html.twig" %}

{% block body %}
    <h2>{{ "detailcommande.listlettrage" | trans }}</h2>

    {% if entities == null %}
        <p>{{ "home.lettrageerror" | trans }}</p>
        <table class="">
            <tr>
                <td>
                    <a href="{{ path('Homepage') }}" class="btn btn-primary">
                        {{ "commun.backtolist" | trans }}
                    </a>
                </td>
            </tr>
        </table>    
    {% else %}
    <table class="table table-striped tablesorter" id="table">
        <thead>
            <tr><th>{{ "detailcommande.type" | trans }}</th>
                <th>{{ "detailcommande.service" | trans }}</th>
                <th>{{ "detailcommande.commande" | trans }}</th>
                <th>{{ "detailcommande.designation" | trans }}</th>
                <th>{{ "detailcommande.client" | trans }}</th>
                <th>{{ "detailcommande.article" | trans }}</th>
                <th>{{ "detailcommande.quantite" | trans }}</th>
                <th>{{ "detailcommande.prixht" | trans }}</th>
                <th>{{ "detailcommande.prixttc" | trans }}</th>
                <th>{{ "detailcommande.accord" | trans }}</th>
                <th>{{ "detailcommande.creepar" | trans }}</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.type }}</td>
                    <td>{{ entity.BU }}</td>
                    <td>{{ entity.commande.designation}}</td>
                    <td>{{ entity.designation }}</td>
                    <td>{{ entity.client }}</td>
                    <td>{{ entity.article.typeArticle}}</td>
                    <td>{{ entity.quantite }}</td>
                    <td>{{ entity.prixHT }} €</td>
                    <td>{{ entity.prixTTC }} €</td>
                    <td>{{ entity.accordBUM }}</td>
                    <td>{{ entity.createdBy.shortID }}</td>
                    <td>
                        <a href="{{ path('detailcommande_show', { 'id': entity.id }) }}">{{ "commun.see" | trans }}</a>
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ path('detailcommande_edit', { 'id': entity.id }) }}"><img style="border: none;" src="{{ asset('bundles/crossknowledgeordermanagement/images/edit-icon.png') }}"/></a>
                        </td>
                    {% else %}
                        <td>
                            <a class="opener1"><img style="border: none;" src="{{ asset('bundles/crossknowledgeordermanagement/images/edit-icon.png') }}"/></a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <table class="">
            <tr>
                <td>
                    <a href="{{ path('Homepage') }}" class="btn btn-primary">
                        {{ "commun.backtolist" | trans }}
                    </a>
                </td>
            </tr>
        </table>    
    {% endif %}
{% endblock %}